  {% extends "layout.html" %}

  {% block body %}

  <!-- Page Header -->

  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Pannel</h1>
            <span class="subheading">Manage Your Post And Save Them</span>
          </div>
        </div>
      </div>
    </div>
  </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category,message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" roles="alert">
      {{ message }}
      <button type="button", class="close" data-dismiss="alert" arial-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

                <h1>Basic Actions</h1>
                <a href="/dashboard"><button class="btn btn-primary">DashBoard Home</button></a>
                <a href="/logout"><button class="btn btn-primary">LOGOUT</button></a>
    
    <hr>
    <h1>Add/Edit Posts</h1>

     <script>
    tinymce.init({
      selector: '#content',
      height:656,
    plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help'
      ],
      toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullpage | imageupload |' +
        'emoticons | help',


      menu: {
        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
      },
      menubar: 'favs file edit view insert format tools table help',
      content_css: 'css/clean-blog.css'

    });


   </script>
    
     <!-- <script src="{{ url_for('static', filename='js/tinymce/tinymce.min.js') }}"></script> */
    <script>
    tinymce.init({
    selector: '#content',
    theme: 'modern',
    height: 800,
    plugins: [
      'advlist autolink link image imagetools lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'save table contextmenu directionality emoticons template paste textcolor'
    ],
    });
    </script> -->
   
    <form name="sentMessage" id="contactForm" action="/edit/{{sno}}" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="title" name="title" value="{{post.title}}"  required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              <input type="text" class="form-control" placeholder="Tagline" id="tline" name="tline" value="{{post.tagline}}" required data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Slug" id="slug" name="slug" value="{{post.slug}}" required data-validation-required-message="Please enter your phone number.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Author</label>
              <input type="text" class="form-control" placeholder="Author" id="author" name="author" value="{{post.author}}" required data-validation-required-message="Please enter your phone number.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Category</label>
              <input type="text" class="form-control" placeholder="Category" id="category" name="category" value="{{post.category}}" required data-validation-required-message="Please enter your phone number.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content" id="content" name="content"  required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Image File</label>

              <input rows="5" class="form-control" action="/uploader" placeholder="Image File" id="img_file" value="{{post.img_file}}" name="img_file">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </form>

        
        
</div>  
</div>
</div>   


  {% endblock %}